.globstyle {
  background: #0a1a2c; /* fallback for old browsers */
  font-family: "Scope One", serif;
}

.fondo {
  height: 100vh;
  background-size: cover;
  background-image: url(../images/backgroundtop.jpg);
}

.mainTitle {
  font-size: 4rem;
}
.navbar {
  background-color: transparent;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  justify-content: center;
  height: 100vh;
}

.grid-1 > div {
  // background: lightgray;
  font-size: large;
  padding: 1em;
}

.grid-1-col1 {
  width: 25%;
  color: white;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}

//abajo

.grid-2 {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, 250px);
  padding: 3rem;
  gap: 3rem;
}

.card {
  box-shadow: rgba(46, 195, 240, 0.4) 5px 5px, rgba(46, 185, 240, 0.3) 10px 10px,
    rgba(46, 233, 240, 0.2) 15px 15px, rgba(46, 169, 240, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  animation: shrink 0.25s;
}

.card:hover {
  animation: grow 0.25s;
  animation-fill-mode: forwards;
  box-shadow: rgba(46, 240, 120, 0.4) 5px 5px, rgba(46, 240, 159, 0.3) 10px 10px,
    rgba(46, 240, 149, 0.2) 15px 15px, rgba(46, 240, 78, 0.1) 20px 20px,
    rgba(46, 240, 166, 0.05) 25px 25px;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.card-body {
  background-color: #adf1d2;
}

.card-body a {
  color: #7f7caf;
}

.card-body p {
  width: 100%;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@media (max-width: 1290px) {
  .grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 250px);
    padding: 1rem;
    gap: 3rem;
  }
}
@media (max-width: 1200px) {
  .grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 250px);
    padding: 1rem;
    gap: 3rem;
  }
}

@media (max-width: 992px) {
  .card-body {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-auto-rows: minmax(100px, 250px);
    padding: 1rem;
    gap: 3rem;
  }
}
@media (max-width: 576px) {
  .grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-auto-rows: minmax(100px, 250px);
    padding: 1rem;
    gap: 3rem;
  }

  .card-body {
    padding: 0.2rem;
  }
}

@media (max-width: 450px) {
  .grid-2 {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-auto-rows: minmax(100px, 250px);
    padding: 1rem;
    gap: 3rem;
  }
}

.leerHistorias {
  color: white;
}

.grid-2 > div {
  border-radius: 6px;
  background: white;
  height: auto;
}

.btn-grad {
  background-image: #bfedef;
}
.btn-grad {
  margin-bottom: 1em;
  width: 100%;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-grad2 {
  background-color: #dc851f;
  cursor: pointer;
}
.btn-grad2 {
  width: 100%;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.btn-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#historias {
  //   overflow: hidden;
  scroll-behavior: smooth;
}

/* CSS */
.button-74 {
  margin-bottom: 1em;
  width: 100%;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 6px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  animation: grow 0.25s;
  animation-fill-mode: forwards;
  box-shadow: rgba(46, 195, 240, 0.4) 5px 5px, rgba(46, 185, 240, 0.3) 10px 10px,
    rgba(46, 233, 240, 0.2) 15px 15px, rgba(46, 169, 240, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.button-75:hover {
  animation: grow 0.25s;
  animation-fill-mode: forwards;
  box-shadow: rgba(46, 195, 240, 0.4) 5px 5px, rgba(46, 185, 240, 0.3) 10px 10px,
    rgba(46, 233, 240, 0.2) 15px 15px, rgba(46, 169, 240, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (max-width: 960px) {
  .grid-1-col1 {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .grid-1-col1 {
    width: auto;
    padding: 1rem;
  }
}

@media (max-width: 960px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
    width: 100%;
    font-size: 0.8rem;
  }
}
