.globStyle {
  background-color: #0a1a2c;
  font-family: "Scope One", serif;
  font-size: 1.5rem;
  color: rgb(199, 199, 199);
  text-align: justify;
}

h2 {
  text-decoration: underline;
  color: goldenrod;
}

.mainctn {
  padding: 2rem;
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 1.2rem;
  }
}
@media (max-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
