.globStyle {
  background: #0a1a2c;
  height: 100vh;
}

.navbar-brand {
  color: white;
}

.grid {
  display: grid;
  height: 100vh;
  // border: 1px solid yellow;
  align-items: center;
}

.title {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial;
  box-sizing: border-box;
  color: white;
  justify-self: center;
  width: 75%;
  display: grid;
  align-self: start;
  // border: 1px solid yellow;
}

.escribe {
  // border: 1px solid yellow;
  height: 1vh;
  color: white;
}
