<div class="globStyle">
    <div class="grid">
        
        <form class="grid" [formGroup]="writeForm">
        <h1 class="escribe text-center">Escribe tu Historia👻</h1>
        <div class="title text-center">
            <input formControlName="author" class="p-3" type="text" placeholder="Titulo">
            <br />

            <select class="form-select mb-3 p-2" formControlName="type">
                <option  *ngFor="let item of types">
                    {{item}}
                </option>
            </select>

            <div class="form-group text-center">
                <textarea formControlName="story" placeholder="Story" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                <button (click)="onSubmit()" class="btn btn-success w-100 mt-2">Submit</button>
            </div>
        </div>
     </form>
    </div>
</div>
